<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.server.mapper.PostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxxx.server.pojo.Post">
        <id column="title" property="title" />
        <result column="id" property="id" />
        <result column="content" property="content" />
        <result column="user_id" property="userId" />
        <result column="comments" property="comments" />
        <result column="collects" property="collects" />
        <result column="view" property="view" />
        <result column="top" property="top" />
        <result column="essence" property="essence" />
        <result column="section_id" property="sectionId" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, content, user_id, comments, collects, view, top, essence, section_id, create_time, modify_time
    </sql>

</mapper>
